body{
    margin: 0;

    /* webkit-touch-callout: none; /* iOS Safari */
    /* -webkit-user-select: none; /* Safari */
    /* -khtml-user-select: none; /* Konqueror HTML */
    /* -moz-user-select: none; /* Firefox */
    /* -ms-user-select: none; /* Internet Explorer/Edge */
    /* user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
}
.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.sitetop{
    position: relative;
    display: flex;
}
.sitetop img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.sitetop header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0 .5em 0;
    z-index: 999;
    flex-wrap: wrap;
}
.sitetop header a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    margin: 0;
    padding-left: 1em;
}
.sitetop nav{
    display: none;
    flex-wrap: wrap;
    width: 100%
}
.sitetop nav a{
    flex-basis: 100%;
    padding: 0;
    text-align: center;
    background-color: rgba(31, 39, 42, 1);
    border-bottom: rgba(0, 0, 0, .7) 2px solid;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    padding: .5em 0;
}
.sitetop label{
    color: #ffffff;
    font-size: 1.5em;
    margin-right: 1em;
}
.sitetop input[type=checkbox]{
    display: none;
}
.sitetop input[type=checkbox]:checked ~ nav{
    display: flex;
}

@media(min-width:550px){
    .sitetop nav{
        padding-right: 1em;
        display: flex;
        flex-wrap: nowrap;
        width: initial;
    }
    .sitetop header nav a{
        padding: 0;
        margin-left: 1em;
        background-color: transparent;
        border: none;
        text-align: initial;
        flex-basis: initial;
    }
    .sitetop label{
        display: none;
    }
}
.imgtext{
    position: absolute;
    align-self: center;
    justify-items: center;
    text-align: center;
    width: 100%;
}
.imgtext h2,.imgtext h3{
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    letter-spacing: .1em;
    margin: 0;
    text-shadow: 3px 3px 10px #000000;;
}
.imgtext h3{
    font-size: 1.5em;
    font-weight: 300;
    color: #ececec;
}

.godown{
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    margin: 0;
    cursor: pointer;
}

.toTop{
    position: fixed;
    bottom: 1%;
    right: 1%;
    height: 20px;
    width: 20px;
    border: 1em solid #1f272a;
    border-radius: 50%;
    background: #1f272a;
    box-shadow: 3px 3px 10px #000000;
    cursor: pointer;
}

.about{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1C1920;
    padding-bottom: 3em;
}
.about section{
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.about section p{
    color: #b3b3b3;
}
.about h2{
    color: #ffffff;
    margin: 1em 0 0 0;
    font-size: 2em;
}

.ownbrand{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27212E;
    min-height: 50vh;
    padding: 0 3em 3em 3em;
}
.ownbrand h2{
    color: #ffffff;
    margin: 1em 0 0 0;
    font-size: 2em;
}
.ownbrand p{
    color: #b3b3b3;
    margin: .5em 0 0 0;
    font-weight: 300;
}

/* Brand cards */
.brandcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.brandcards figure{
    max-width: 30%;
    min-width: 300px;
    margin: 2em 1em 1em 1em;
}
.brandcards figure img{
    width: 100%;
    object-fit: cover;
}
.brandcards figcaption h3{
    color: #ffffff;
    font-size: 1.3em;
    margin: .5em 0 0 0;
}
.mailinglist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1C1920;
    min-height: 15vh;
    max-width: 100%;
    padding: 1em;
    text-align: center;
}
.mailinglist h2{
    color: #ffffff;
    margin: 0;
}
.mailinglist p{
    color: #b3b3b3;
    margin: 0 0 .5em 0;
}
.mailinglist input{
    margin-left: 1em;
    min-width: 100px;
    border: none;
    font-size: 1.3em;
    padding: .3em 1em;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
.mailinglist button{
    background-color: #131016;
    height: 100%;
    border: none;
    color: #ffffff;
    font-size: 1.3em;
    padding: .5em 1em;
}
.mailinginput{
    display: flex;
    min-width: 100px;
    min-height: 2em;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #131016;
    max-width: 100%;
    padding: 1em 1.5em 0 1.5em;
}
footer h3{
    color: #ffffff; 
    margin: .2em 0 .2em 0;
}
footer address{
    margin-bottom: 1em;
}
footer ul{
    color: #b3b3b3; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: .9em;
    padding: 0;
    margin: 0;
}
footer li{
    list-style: none;
    margin: 0 0 .3em 0;
}
footer p{
    color: #b3b3b3;
    flex-basis: 100%;
    text-align: center;
    font-size: .8em;
    margin: 0 0 1em 0;
}
footer .socialicons{
    display: flex;
    flex-direction: row;
}
footer .socialicons figure{
    margin: 0 0 0 1em;
    height: 2em;
}
footer .socialicons figure img{
    height: 1.7em;
    width: 1.7em;
}